---
title: This is a test post
published: 2020-05-31
layout: blog
desc: This is the description of my first test blog post. I'm putting information here
---

<script>
    import Counter from './Counter.svelte'
</script>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates esse cum soluta quisquam eos sunt sit. Vel illo quibusdam eaque dicta rerum, libero, eveniet, quasi illum aut beatae qui non tenetur est veritatis aliquam molestiae veniam officiis quis distinctio consectetur sint nobis et cum! Tempore rem quaerat accusantium officiis possimus?

Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates esse cum soluta quisquam eos sunt sit. Vel illo quibusdam eaque dicta rerum, libero, eveniet, quasi illum aut beatae qui non tenetur est veritatis aliquam molestiae veniam officiis quis distinctio consectetur sint nobis et cum! Tempore rem quaerat accusantium officiis possimus?

<Counter />

```js
console.log('test');
```

```html
<script>
	let count = 0;
	function increment() {
		count += 1;
	}
</script>

<button on:click="{increment}">click</button>
<p>count: {count}</p>
```
